# Ignore hasani_data.mat

hasani_data.mat

# Ignore all .npy, .mat files

*.npy
*.mat
*.csv

*.npy
*.pyc
*.png
.DS_Store
*.ipynb
*.h5


# Ignore all files in the data directory
/mit-bih-arrhythmia-database-1.0.0/*
